<!DOCTYPE html>
<html lang="en">
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <body>
        <div class="flex flex-column items-center">
            <div class="bg-blue near-black fixed w-100 pa3 b">
                PhotoSearch
            </div>
            <div class="pa4">
                <form class="pa4 black-80">
                    <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100 br3" 
                                     type="text" 
                                     placeholder="Search photos"/>
                    <input type="submit" value="Go">
                </form>
            </div>
            <div>
    </body>
</html>
